body {
  background-color: #000000; /* sfondo nero */
  color: #eaeaea;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

button:hover {
  background-color: #3333ff;
}

.message {
  margin-top: 30px;
  font-size: 18px;
  color: #ffd700;
}

/* HUD */
#hud {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

#hud > div {
  background-color: #1c1f3b;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
}

.avatarOptions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.avatarChoice {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #1c1c1c;
  transition: background 0.3s;
}

.avatarChoice:hover {
  background-color: #3333ff;
}

.avatarEmoji {
  font-size: 40px;
}

.avatarLabel {
  margin-top: 5px;
  font-size: 14px;
  color: #ffd700;
}
