input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  background-color: #3a3f5c;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

button:hover {
  background-color: #5c5fe2;
}


