body {
  background: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.panel {
  background: #111;
  padding: 15px;
  width: 220px;
  border: 2px solid #444;
}

.avatar-box {
  position: relative;
  width: 64px;
  height: 96px;
}

.avatar-box img {
  position: absolute;
  width: 64px;
  height: 96px;
  image-rendering: pixelated;
}

#body { z-index: 1; }
#outfit { z-index: 2; }
#hair { z-index: 3; }

input, button, select {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

