html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#1b1e3a, #0b0d1a);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  image-rendering: pixelated;
}
