html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #0b1020;
  overflow: hidden;
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

#map {
  position: absolute;
  width: 2000px;
  height: 1400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tile {
  position: absolute;
  width: 64px;
  height: 32px;
  border: 1px solid rgba(255,255,255,0.05);
}

.avatar {
  position: absolute;
  width: 64px;
  height: 96px;
  image-rendering: pixelated;
}

.furni {
  position: absolute;
  image-rendering: pixelated;
}
