html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#1b1f3a, #050611);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* GRIGLIA */
.tile {
  position: absolute;
  width: 64px;
  height: 32px;
  border: 1px solid rgba(255,255,255,0.05);
  transform: translate(-32px, -16px);
}

/* PLAYER */
.avatar {
  position: absolute;
  width: 64px;
  height: auto;
  pointer-events: none;
}

/* FURNI */
.furni {
  position: absolute;
  pointer-events: none;
}
