html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(#11142a, #050611);
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
