html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#14162a, #070812);
  overflow: hidden;
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

/* MAPPA */
#map {
  position: absolute;
  width: 640px;
  height: 480px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 40px 40px;
  background-image:
    linear-gradient(45deg, rgba(255,255,255,0.08) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255,255,255,0.08) 25%, transparent 25%);
  background-position: 0 0, 20px 20px;
}

/* PLAYER */
#player {
  position: absolute;
  width: 46px;
  image-rendering: pixelated;
  transform: translate(-50%, -100%);
  pointer-events: none;
  z-index: 10;
}

/* FURNI */
.furni {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -100%);
}

#bookshelf { width: 72px; }
#chest     { width: 60px; }
#table     { width: 72px; }
