body {
  margin: 0;
  background: #0b0b15;
}

#room {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 40px auto;
  background: #2a2a40;
  border: 4px solid #44446a;
}

/* PLAYER */
#player {
  position: absolute;
  width: 80px;
  height: 140px;
  pointer-events: none;
}

#robe {
  position: absolute;
  bottom: 0;
  width: 80px;
  image-rendering: pixelated;
}

#face {
  position: absolute;
  bottom: 60px;
  left: 8px;
  width: 64px;
  image-rendering: pixelated;
}
