body {
  margin: 0;
  background: #0b0b15;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* STANZA */
#room {
  position: relative;
  width: 640px;
  height: 480px;
  background-color: #1f1f2e;
  background-image:
    linear-gradient(#2f2f44 1px, transparent 1px),
    linear-gradient(90deg, #2f2f44 1px, transparent 1px);
  background-size: 40px 40px;
}

/* PLAYER */
#player {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

#robe {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 80px;
  image-rendering: pixelated;
}

#face {
  position: absolute;
  bottom: 60px;
  left: -12px;
  width: 64px;
  image-rendering: pixelated;
}
