#player {
  position: absolute;
  width: 80px;
  height: 120px;
  pointer-events: none;
}

.layer {
  position: absolute;
  image-rendering: pixelated;
}

/* CORPO */
#robe {
  bottom: 0;
  left: 0;
  width: 80px;
}

/* TESTA */
#face {
  bottom: 64px;
  left: 8px;
  width: 64px;
}
