body {
  margin: 0;
  background: #0b0b15;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#room {
  position: relative;
  width: 800px;
  height: 500px;
}

/* TILE ISOMETRICA */
.tile {
  position: absolute;
  width: 64px;
  height: 32px;
  background: rgba(255,255,255,0.08);
  transform: skewY(-26deg) scaleY(0.5) rotate(45deg);
  transform-origin: center;
  cursor: pointer;
}

#player {
  position: absolute;
  width: 80px;
  height: 140px;
  pointer-events: none;
}

#robe {
  position: absolute;
  bottom: 0;
  width: 80px;
  image-rendering: pixelated;
}

#face {
  position: absolute;
  bottom: 60px;
  left: 8px;
  width: 64px;
  image-rendering: pixelated;
}
