body {
  background: black;
  font-family: Arial, sans-serif;
}

#avatar {
  position: relative;
  width: 64px;
  height: 96px;
  margin: 40px auto;
}

/* Vestito */
#robe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 48px;
  z-index: 1;
  image-rendering: pixelated;
}

/* Faccia */
#face {
  position: absolute;
  bottom: 48px;
  left: 0;
  width: 64px;
  height: 64px;
  z-index: 2;
  image-rendering: pixelated;
}

/* Capelli */
#hair {
  position: absolute;
  bottom: 96px;
  left: 0;
  width: 64px;
  height: 32px;
  z-index: 3;
  image-rendering: pixelated;
}
