body {
  background: black;
  font-family: Arial, sans-serif;
}

#avatar {
  position: relative;
  width: 96px;   /* dimensione finale avatar */
  height: 128px; /* altezza avatar */
  margin: 40px auto;
}

#avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: auto;
  image-rendering: pixelated;
}

#robe {
  z-index: 1;   /* dietro */
}

#face {
  z-index: 2;   /* davanti al vestito */
}

#hair {
  z-index: 3;   /* davanti a tutto */
}

